
<div class="container mt-4">

  <div class="row">

    <h3>Listado de estudiantes</h3>
    <button class="btn btn-primary ml-auto" (click)="toogle()">Toogle</button>

  </div>

    <br>
    <!-- Directiva *ngIF como un if pero desde el backend -->
    <table class="table" *ngIf="mostrar">
      <!-- Cabecera de la tabla -->
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <!-- Cuerpo de la tabla -->
      <tbody>
        <!-- Agregando la directiva *ngFor para hacer las peticiones al backend-->
        <!-- Es un for que recorre un array hecho en el TypeScript, la directiva -->
        <tr *ngFor="let estudiantes of listEstudiantes; let i =index" [ngSwitch]="estudiantes.estado">

          <!-- <td>{{estudiantes.id}}</td> -->
          <!-- Se obtiene un indice  -->
          <td>{{ i  + 1 }}</td>  
          <td>
            <span [ngClass]="estudiantes.nombre === 'Joaquin Gonzales' ? 'text-primary' : 'text-success'" >
              {{ estudiantes.nombre }}
            </span>
          </td>
          <!-- Uso de directiva *ngStyle -->
          <!-- usando el operador ternario '?'  ':' -->
          <!-- <td [ngStyle]="{'font-style': estudiantes.estado === 'Regular' ? 'italic' : 'normal'}" >{{ estudiantes.estado }}</td> -->
         
         <!-- Es tomado como una opcion cada Case en caso contrario ignora la etiqueta -->
          <td *ngSwitchCase="'Activo'" class="bg-primary">
            {{ estudiantes.estado }}
          </td>
          <td *ngSwitchCase="'Regular'" class="bg-success">
            {{ estudiantes.estado }}
          </td>
          <td *ngSwitchCase="'Libre'" class="bg-warning">
            {{ estudiantes.estado }}
          </td>

        </tr>

      </tbody>

    </table>
    <!-- <h3 *ngIf="listEstudiantes.length === 0">No hay registros para mostrar</h3> -->
    <h3 *ngIf="mostrar == false">No hay registros para mostrar</h3>

</div>